* {
    box-sizing: border-box;
}

p { 
    font-family: 'Bungee';
    color: #ffffff;
}

table,
{
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

li {
    animation: glitch 1s linear infinite;
    font-family: 'Bungee';
    color: #ffffff;
}

.card-title {
    background-image: radial-gradient(ellipse 30% 35% at 20% 50%,
            #6b1839,
            transparent);
    transform: translate(0%, 0%);
    letter-spacing: 2;
    font-family: "Clip";
    text-transform: uppercase;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 66.6%;
}

.responsive-iframe {
  position: relative;
  width: 100%;
  height: 300px;
}

.Connected{
    height: 40%;
    width:50%;
   margin: 50px;
position: absolute; 
}

.press,
.holder{
position: relative;
padding: 20px;
width: 100%;
}

.topmenu{
    width: 100%;
    position: relative;
}

#soon{
background-color: #6c9d30;
margin: 5px;
margin-left: auto;
margin-right: 0;
display: block;
}

#chatbuttoncontainer{
    width: 100%
    position: relative;
}

#logo{
background-color: #6c9d30;
margin-left: auto;
margin-right: 0;
display: block;
}

#buttonPause{
background-color: #3f3f3f;
}

#buttonPlay{
background-color: #6c9d30;
}
body {
    /* background-color: #141114 !important; */
    background-image: url('../img/uc.jpg') !important;
    background-size: cover;
}

#image:hover {
    transition: transform .2s;
    transform: scale(1.05);
    background-color: rgb(104, 161, 30);
}

#acc_but {
    color: #ffffff;
    border-color: #6c9d30;
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(104, 161, 30);
    z-index: 2;
    position: relative;
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
        linear-gradient(155deg, black 23px, transparent 23px),
        linear-gradient(335deg, black 23px, transparent 23px),
        linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

#card {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(104, 161, 30);
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
        linear-gradient(155deg, black 23px, transparent 23px),
        linear-gradient(335deg, black 23px, transparent 23px),
        linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

#para {
    z-index: 4;
    position: relative;
    width: 100%;
    background-color: #6c9d30;
    text-align: center;
}

#player{
   align-items: center;
}

#chat {
    vertical-align: middle;
    z-index: 3;
    position: relative;
    display: none;
    transition: all;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}

#image {
    left: 39%;
    bottom: 680px;
    width: 13%;
    position: relative;
}

#footer {
position: relative;
bottom: 0;
width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

@font-face {
    font-family: Clip;
    src: url('../clip/Clip.ttf') format('truetype');
}

@font-face {
    font-family: 'Bungee';
    src: url('../Bungee/TurretRoad-ExtraBold.ttf') format('truetype');
}

/* chat-animation */
@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

/* neon animation */
@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }

    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }

    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}


.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }

    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}
